.about {
    margin: 5rem 1rem;
    box-sizing: border-box;
}

.about-div {
    padding: 3rem 1rem 6rem;
}

.about .title {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.about .title .me {
    color: #707070;
}

.about .image-text {
    display: flex;
    flex-wrap: wrap;
}

.about .box {
    width: 100%;
    margin-top: 4rem;
}

.about .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .text {
    text-align: justify;
}

.about img {
    max-width: 50%;
}

.about .about-text {
    font-size: 1.2em;
}

@media (min-width: 25rem) {
    .about .about-text {
        font-size: 1.35em;
    }
}

@media (min-width: 50rem) {
    .about .about-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 75rem) {
    .about-div {
        margin: 0 2rem
    }

    .about .box {
        width: 50%;
        padding: 2rem
    }

    .about img {
        max-width: 70%;
    }
}