.banner {
    margin: 0 1rem 5rem;
    padding: 10rem 0;
    box-sizing: border-box;
}

.banner .text-image {
    display: flex;
    flex-wrap: wrap;
}

.banner .box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    &:first-child {
        margin-bottom: 4rem;
    }

    &:nth-child(2) {
        justify-content: center;
    }
}

@media (min-width: 64rem) {
    .banner .box {
        padding: 0;
        width: 40%;
        justify-content: start;

        &:first-child {
            padding-left: 1rem;
            width: 60%;
        }
    }

}

.banner .tagline {
    font-weight: 700;
    font-size: 1em;
}

.banner h1 {
    font-size: 2em;
    font-weight: 700;
}

.banner p {
    font-size: 1.1em;
}

.banner-button {
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    padding: 0.6rem 1rem;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 0.9rem;
    display: inline-flex;
    align-items: center;
    transition: box-shadow 0.9s ease-out;

    &:hover {
        box-shadow: inset 20rem 0 0 0 #fff;
        color: #121212;
    }
}

.banner-button svg {
    margin-left: 1rem;
    font-size: 1.3em;
    transition: transform 1s ease-in;
}

.banner-button:hover svg {
    animation: button-updown 3s linear infinite;
}

@keyframes button-updown {
    0% {
        transform: translateY(-0.2rem);
    }

    50% {
        transform: translateY(0.2rem);
    }

    100% {
        transform: translateY(-0.2rem);
    }
}

.banner img {
    max-width: 100%;
    animation: updown 10s linear infinite
}

@keyframes updown {
    0% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}


@media (min-width: 30rem) {
    .banner .tagline {
        font-size: 1.2em;
    }

    .banner h1 {
        font-size: 2.5em;
    }

    .banner p {
        font-size: 1.2em;
    }

    .banner .banner-button {
        font-size: 1.2em;
    }

    .banner-button svg {
        font-size: 1.2em;
    }
}


@media (min-width: 50rem) {
    .banner .tagline {
        font-size: 1.5em;
    }

    .banner h1 {
        font-size: 3.3em;
    }

    .banner p {
        font-size: 1.6em;
    }

    .banner-button svg {
        font-size: 1.3em;
    }

    .banner .banner-button {
        font-size: 1.3em;
        padding: 1rem 1.2rem;
    }
}

@media (min-width: 75rem) {
    .banner .tagline {
        font-size: 1.8em;
    }

    .banner h1 {
        font-size: 4em;
    }

    .banner p {
        font-size: 2em;
    }

    .banner-button svg {
        font-size: 1.3em;
    }

    .banner .banner-button {
        font-size: 1.5em;
        padding: 1rem 1.3rem;
    }
}