.experience {
    margin: 15rem 1rem;
}

.experience-div {
    padding: 1rem;
}

.experience .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem 3rem;
}

.experience .exp {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience .year {
    width: 100%;
    color: #d0d0d0;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.experience .info {
    width: 100%;
}

.experience .role {
    font-size: 1.3rem;
    font-weight: 500;
}

.experience .description {
    font-size: 1.2em;
    font-weight: 300;
}

.experience .tech-div {
    display: flex;
    flex-wrap: wrap;
}

.experience .tech {
    font-size: 1em;
    font-weight: 400;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(60, 58, 65, 0.46);
    color: rgb(148, 112, 216);
}

@media (min-width: 30rem) {
    .experience .exp {
        padding: 0 0.5rem;
    }

    .experience .year {
        font-size: 1.3em;
    }

    .experience .role {
        font-size: 1.4em;
    }

    .experience .description {
        font-size: 1.3em;
    }

    .experience .tech {
        font-size: 1.1em;
    }
}

@media (min-width: 50rem) {
    .experience .exp {
        padding: 0 2rem;
    }
}

@media (min-width: 64rem) {
    .experience-div {
        margin: 0 2rem;
    }

    .experience .year {
        width: 30%;
        margin-right: 6rem;
        font-size: 1.5em;
    }

    .experience .info {
        width: 45%;
    }

    .experience .year {
        font-size: 1.5em;
    }

    .experience .role {
        font-size: 1.5em;
    }

    .experience .description {
        font-size: 1.5em;
    }

    .experience .tech {
        font-size: 1.3em;
    }
}