.project {
    margin: 15rem 1rem;
}

.project-div {
    padding: 1rem;
}

.project .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 4rem 3rem;
}

.project .proj {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project .name {
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
}

.proj .name a {
    text-decoration: none;
    color: white;
}

.project .info {
    font-weight: 300;
    width: 100%;
}

.project .description {
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: justify;
    padding-bottom: 0.5em;
}

.project .tech-div {
    display: flex;
    flex-wrap: wrap;
}

.project .tech {
    font-size: 1em;
    font-weight: 400;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(60, 58, 65, 0.46);
    color: rgb(148, 112, 216);
}

@media (min-width: 30rem) {
    .project .proj {
        padding: 0 0.5rem;
    }

    .project .name {
        font-size: 1.4em;
    }

    .project .description {
        font-size: 1.3em;
    }

    .project .tech {
        font-size: 1.1em;
    }
}

@media (min-width: 50rem) {
    .project .proj {
        padding: 0 2rem;
    }
}

@media (min-width: 64rem) {
    .project-div {
        margin: 0 2rem;
    }

    .project .name {
        width: 35%;
        margin-right: 6rem;
        font-size: 1.5em;
    }

    .project .info {
        width: 40%;
    }

    .project .description {
        font-size: 1.5em;
    }

    .project .tech {
        font-size: 1.3em;
    }
}